@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    font-size: 18px;
    font-family: 'Bai Jamjuree', sans-serif;
    line-height: 1.5;
}

main{
    margin: 0 auto;
    max-width: 100%;
    /* width: 1200px; */
    text-align: center;
    
}


/* header */
#header{
    /* border: 3px solid red; */
    padding: 100px;
    margin: 0 auto;
    width: 100%;
    background-image: url(images/bg-header-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.header__text{
    font-size: 1.5rem;
    color: hsl(210, 10%, 33%);
    font-weight: 600;
   
   
}

.header__text__paragraph{
    font-size: 1.125rem;
   font-weight: 400;    
    
}

.btn{
    padding: 15px 35px;
    border-radius: 50px;
    font-family: 'Bai Jamjuree', sans-serif;
    margin: 15px 5px;
    font-size: 1.125rem;
    color: #fff;
    font-weight: 600;
    border: none;
}

.btn-primary{
    background-color: hsl(171, 66%, 44%);
    box-shadow: 0 4px hsl(171, 68%, 36%);;
}

.btn-secondary{
    background-color: hsl(233, 100%, 69%);
    box-shadow: 0 4px hsl(233, 71%, 61%);
}

.track{
    width: 100%
}

.track-text{
    font-size: 2.125rem;
    color: hsl(210, 10%, 33%);
    margin-bottom: 30px;
}

.track-paragraph{
    font-size: 1.125rem;
    color: hsl(201, 11%, 66%);
    width: 59%;
    margin: 0 auto;

}

img{
   max-width: 100%;
   
}

.aside{
    display: flex;
    padding: 80px 0;
    justify-content: center;
    width: 100%;

}

.computer__text{
    margin-left: 100px;
    text-align: left; 
}

.computer__text__paragraph{
    margin-top: 50px;
    width: 70%;
}


.search{
    color: hsl(210, 10%, 33%);
    font-size: 1.7rem;
}

.search__paragraph{
    color: hsl(201, 11%, 66%);
}


.access{
    padding: 50px 0;
    width: 100%;
}

.access__text{
    color: hsl(210, 10%, 33%);
    font-size: 1.7rem;
    
}
img{
    max-width: 100%;
}
.access__paragraph{
    color: hsl(201, 11%, 66%);
    width: 60%;
    position: relative;
    left: 300px;
    margin-top: 30px;
}

.img__device{
    margin: 50px 0;
    width: 60%;
}

.workflow{
    margin: 0 0 50px 0;
}

.workflow__text{
    color: hsl(210, 10%, 33%);
    font-size: 2rem;
}

.workflow__paragraph{
    color: hsl(201, 11%, 66%);
    font-size: 1.125rem;
    margin-top: 10px;
}

.list_item{
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-bottom: 20px;
    width: 100%;
}

.list_item_text{
    color: hsl(210, 10%, 33%);
    font-size: 1.7rem;
    margin-top: 30px;
    
}

.list_item_paragraph{
    color: hsl(201, 11%, 66%);
    font-size: 1.125rem;
    margin-top: 10px;
    width: 75%;
    margin-left: 50px;
    /* text-align: center;
    position: relative;
    left: 50px; */
   
}

.company__logos{
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    width: 100%;

}

.ios__clipboard{
    width: 100%;
    padding-bottom: 80px;
}

.ios__text{
    color: hsl(210, 10%, 33%);
    font-size: 1.7rem;
}

.ios__paragraph{
    color: hsl(201, 11%, 66%);
    font-size: 1.125rem;
    margin-top: 10px;
    width: 58%;
    margin-left: 300px;
}


footer{
    background-color: hsl(200, 8%, 93%);
    padding-top: 100px;

}

.about{
    display: flex;    
}

.last-logo{
    margin: 0 50px 50px 50px;
}

.links{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 40px 40px;
}

.social img{
    width: 50%;
}

footer ul{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
   
}

footer ul a {
    color: hsl(210, 10%, 33%);
    text-decoration: none;
}

footer .links li{
    margin-right: 20px;
    padding: 10px;
}

footer img{
    width: 60px;;
}



footer .links{
    flex: 3;
}

footer .social li{
    margin-right: 10px;
}


footer .social a{
    font-size: 1.5rem;
    margin-right: 10px;
}




.attribution { 
    font-size: 1.6rem; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}